@{ 
    ViewBag.Title = "Home Page";
}

<div>
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Welcome to The Todo App!</h1>
            <p>It's build for a person who wants to manage the tasks and projects more effectively
            and needs a simple tool that supports her in controlling her task-flow</p>
            <p><a class="btn btn-primary btn-lg" asp-controller="Auth" asp-action="Login">Get Started</a></p>
        </div>
    </div>
</div>
